@charset "UTF-8";
/**** UTILS ****/
/* Variables */
/**** BASE ****/
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
}

ol {
  list-style-type: none;
}

body {
  margin: 0;
  max-width: 767px;
  width: 100%;
  justify-content: center;
  background-color: #eaeaea;
}

/* Police Texte */
* {
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.3em;
  font-weight: lighter;
}

/* Police logo et titres */
/**** LAYOUT ****/
/* Header */
#logo {
  /* Img centrée horizontalement*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* Taille de l'image */
  width: 50%;
  height: 50%;
}

header {
  background-color: white;
  /* Ombre */
  box-shadow: 4px 4px 4px #9B9E9F;
  padding-top: 25px;
  padding-bottom: 20px;
}

/* Section localisation */
#localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -12px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#localisation__picto {
  margin-right: 12px;
  position: relative;
  top: -3px;
}

#localisation__texte {
  margin: 0px;
}

/* Section présentation */
#presentation {
  /* background */
  background-color: #f6f6f6;
  /* Padding*/
  padding-top: 20px;
  padding-bottom: 60px;
  padding-right: 12px;
  padding-left: 12px;
  /* Alignement */
  text-align: center;
}

#presentation__h2 {
  margin-bottom: 50px;
}

#presentation__bouton {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 40px;
}

/* Section fonctionnement */
#fonctionnement {
  background-color: white;
  padding-top: 35px;
}

#fonctionnement__texte {
  margin-top: 20px;
  margin-left: 20px;
  margin-top: 0px;
}

#fonctionnement__bloc {
  display: flex;
  align-items: center;
  position: relative;
  left: -10px;
  top: -40px;
}

#fonctionnement__tuiles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fonctionnement__tuiles--tuile {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eaeaea;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 60px;
  padding-left: 60px;
  margin-top: 20px;
}

.fonctionnement__picto {
  position: relative;
  left: -25px;
  color: #9B9E9F;
  font-size: 1.2em;
}

li {
  background-color: #9356DC;
  border-radius: 50px;
  width: 19px;
  text-align: center;
  padding: 5px;
  color: white;
  font-size: 1em;
  margin-bottom: 65px;
  position: relative;
  bottom: -45px;
  right: -16px;
}