@charset "UTF-8";
/*-----------------------------------------------VARIABLES----------------------------------------------------*/
/*----------------------------------------------ANIMATIONS----------------------------------------------------*/
/*______ LOADER HOME PAGE ______*/
@keyframes loader__apparition {
  0% {
    font-size: 36.8px;
    top: 67px;
    color: #ff79da;
  }
  30% {
    color: #9356dc;
  }
  100% {
    position: relative;
    top: -67px;
    font-size: 32px;
    color: black;
  }
}
#loader {
  font-family: "Shrikhand", cursive;
  margin: 0;
  display: flex;
  position: absolute;
  right: 0px;
  left: 0px;
  justify-content: center;
}

.loader__lettre {
  font-size: 32px;
  color: #ff79da;
  animation: loader__apparition 3s cubic-bezier(1, 0.02, 0.11, 0.87) forwards;
}

#loader__lettre--1 {
  animation-delay: 0s;
}

#loader__lettre--2 {
  animation-delay: 0.1s;
}

#loader__lettre--3 {
  animation-delay: 0.2s;
}

#loader__lettre--4 {
  animation-delay: 0.3s;
}

#loader__lettre--5 {
  animation-delay: 0.4s;
}

#loader__lettre--6 {
  animation-delay: 0.5s;
}

#loader__lettre--7 {
  animation-delay: 0.6s;
}

#loader__lettre--8 {
  animation-delay: 0.7s;
}

/* Apparition de la home page à la suite de l'animation */
@keyframes apparition-homepage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#header__hp,
#localisation,
#presentation,
#fonctionnement,
#restaurants,
footer {
  animation: apparition-homepage 1s both;
  animation-delay: 3.5s;
}

/*______ APPARITION DES PLATS DANS LES PAGES RESTAURANTS  ______*/
@keyframes apparition-plats {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    position: relative;
    bottom: 0px;
  }
}
/*-----------------------------------------------COMPOSANTS---------------------------------------------------*/
.btn--layout {
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 40px;
  box-shadow: 2px 3px 3px #9b9e9f;
  transition-property: all;
  transition-duration: 1s;
}
.btn--layout:hover {
  background: linear-gradient(#ff83dd, #985ede);
  box-shadow: 3px 4px 4px #4f5152;
}

/*--------------------------------------------------BASE------------------------------------------------------*/
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  margin: 0 auto;
  max-width: 767px;
  width: 100%;
  justify-content: center;
  background-color: #eaeaea;
  cursor: pointer;
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ol {
  list-style-type: none;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 1.2em;
  font-weight: lighter;
  margin: 0;
}

p {
  margin: 0;
}

/*-------------------------------------------------LAYOUTS----------------------------------------------------*/
/*______ FOOTER ______*/
#footer {
  background-color: #353535;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}
#footer > #footer__logo {
  font-weight: bold;
  font-size: 1.3em;
  font-family: "Shrikhand", cursive;
  margin: 0px 0px 10px 20px;
}
#footer > #footer__bloc {
  margin: 0px 0px 10px 20px;
}
#footer > #footer__bloc > .footer__bloc-texte {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  color: white;
}
#footer > #footer__bloc > .footer__bloc-texte > .footer__picto {
  margin-right: 10px;
}

.footer__texte {
  margin-bottom: 6px;
  color: white;
}

/*------------------------------------------------HOME PAGE---------------------------------------------------*/
/*______ HEADER ______*/
#logo {
  /* Img centrée horizontalement*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* Taille de l'image */
  width: 50%;
  height: 50%;
}

header {
  background-color: white;
  /* Ombre */
  box-shadow: 4px 4px 4px #9b9e9f;
  padding-top: 25px;
  padding-bottom: 20px;
}

#header__logo {
  opacity: 0;
}

/*______ SECTION LOCALISATION______*/
#localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -12px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#localisation > #localisation__picto {
  margin-right: 12px;
  position: relative;
  top: -3px;
}
#localisation > #localisation__texte {
  margin: 0px;
}

/*______ SECTION PRESENTATION ______*/
#presentation {
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}
#presentation > #presentation__h2 {
  margin-bottom: 20px;
}
#presentation > #presentation__h3 {
  margin-bottom: 50px;
}
#presentation > #presentation__btn {
  padding-right: 20px;
  padding-left: 20px;
}

/*______ SECTION FONCTIONNEMENT ______*/
#fonctionnement {
  background-color: white;
  padding-top: 35px;
  padding-bottom: 35px;
}
#fonctionnement > #fonctionnement__titre {
  margin-top: 20px;
  margin-left: 20px;
  margin-top: 0px;
}
#fonctionnement > #fonctionnement__tuiles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#fonctionnement > #fonctionnement__tuiles > .fonctionnement__tuiles--tuile {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eaeaea;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 20px;
  counter-increment: listing;
  width: 70%;
}
#fonctionnement > #fonctionnement__tuiles > .fonctionnement__tuiles--tuile::before {
  background-color: #9356dc;
  border-radius: 50px;
  width: 19px;
  text-align: center;
  padding: 5px;
  color: white;
  font-size: 1em;
  position: relative;
  left: -42px;
  content: counter(listing);
}

.fonctionnement__picto {
  position: relative;
  left: -25px;
  color: #9b9e9f;
  font-size: 1.2em;
}

ol {
  margin: 0;
  padding: 0;
}

/*______ SECTION RESTAURANTS ______ */
#restaurants__titre {
  margin-left: 20px;
  margin-top: 20px;
}

#restaurants__bloc {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
#restaurants__bloc > .restaurants__tuiles {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background: white;
  border-radius: 15px;
}
#restaurants__bloc > .restaurants__tuiles > .restaurants__image {
  object-fit: cover;
  object-position: bottom;
  height: 220px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
#restaurants__bloc > .restaurants__tuiles > .restaurants__tuiles--bloc {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
#restaurants__bloc > .restaurants__tuiles > .restaurants__tuiles--bloc > .restaurants__tuiles--texte {
  flex: 1;
}
#restaurants__bloc > .restaurants__tuiles > .restaurants__tuiles--bloc > .restaurants__tuiles--texte > .restaurants__noms,
#restaurants__bloc > .restaurants__tuiles > .restaurants__tuiles--bloc > .restaurants__tuiles--texte .restaurants__localisation {
  margin-left: 15px;
}
#restaurants__bloc > .restaurants__tuiles > .restaurants__tuiles--bloc > .restaurants__tuiles--texte > .restaurants__noms {
  font-weight: bold;
  font-size: 1.3em;
  margin: 15px 0px 10px 15px;
  display: block;
}
#restaurants__bloc > .restaurants__tuiles > .restaurants__tuiles--bloc > .restaurants__tuiles--texte > .restaurants__localisation {
  font-size: 1.2em;
  margin: 0px 0px 15px 15px;
  font-weight: lighter;
}

.like {
  font-size: 2.2em;
  background: linear-gradient(52deg, #ff79da 5%, #9356dc 40%, white 50%, white 100%);
  background-size: 300%;
  background-position: 100% 0%;
  filter: drop-shadow(0px 0px 1px black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s ease-in-out;
}
.like:hover {
  background-position: 0% 100%;
}

/*--------------------------------------------- PAGES RESTAURANTS ---------------------------------------------*/
/*______ HEADER ______*/
#header {
  display: flex;
  align-items: center;
}

.arrow {
  font-size: 1.8em;
  position: relative;
  right: -25px;
}

/*______ BANNIERE IMAGE ______*/
#bannière_la_palette_du_gout,
#bannière_la_note_enchantee,
#bannière_a_la_francaise,
#bannière_le_delice_des_sens {
  width: 100%;
  object-fit: cover;
}

#bannière_la_palette_du_gout {
  height: 230px;
}

#bannière_la_note_enchantee,
#bannière_a_la_francaise,
#bannière_le_delice_des_sens {
  height: 240px;
}

/*______ MENU ______*/
#menu {
  padding-top: 30px;
  background-color: #eaeaea;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  position: relative;
  top: -66px;
}
#menu > #menu__h2 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 20px;
}
#menu > #menu__h2 > #menu__h2--shrikhand {
  font-family: "Shrikhand", cursive;
  font-size: 1.6em;
}
#menu > #menu__h2 > .likemenu {
  font-size: 1.6em;
  background: linear-gradient(52deg, #ff79da 5%, #9356dc 40%, #eaeaea 50%, #eaeaea 100%);
  background-size: 300%;
  background-position: 100% 0%;
  filter: drop-shadow(0px 0px 1px black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s ease-in-out;
  margin-right: 25px;
}
#menu > #menu__h2 > .likemenu:hover {
  background-position: 0% 100%;
}
#menu > .menu__h3 {
  margin: 30px 0px 5px 20px;
  position: relative;
  margin-bottom: 15px;
}
#menu > .menu__h3::after {
  width: 48px;
  border-bottom: 4px solid #99e2d0;
  position: absolute;
  content: "";
  bottom: -10px;
  left: 3px;
}
#menu > .menu__plats {
  display: flex;
  flex-direction: column;
}
#menu > .menu__plats > .plats__tuile {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 15px;
  margin: 12px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  bottom: -80px;
  opacity: 0;
  animation: apparition-plats 1.8s forwards;
  overflow: hidden;
}
#menu > .menu__plats > .plats__tuile:hover .tuile__validation {
  width: 64.69px;
}
#menu > .menu__plats > .plats__tuile:hover .tuile__validation i {
  transform: rotate(-360deg);
}
#menu > .menu__plats > .plats__tuile > .tuile__texte {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 15px;
  position: relative;
  flex-grow: 1;
}
#menu > .menu__plats > .plats__tuile > .tuile__texte > .tuile__texte--size {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}
#menu > .menu__plats > .plats__tuile > .tuile__texte > .tuile__texte--lighter {
  font-weight: lighter;
  margin-top: 5px;
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 26px;
}
#menu > .menu__plats > .plats__tuile > .tuile__texte > .tuile__prix {
  position: absolute;
  right: 8px;
  bottom: 15px;
}
#menu > .menu__plats > .plats__tuile > .tuile__validation {
  display: flex;
  justify-content: center;
  width: 0px;
  overflow: hidden;
  height: 100%;
  transition: ease-in-out 1.5s;
  background-color: #99e2d0;
  padding-top: 23px;
  padding-bottom: 23px;
}
#menu > .menu__plats > .plats__tuile > .tuile__validation i {
  color: white;
  transition: 1.5s;
  font-size: 1.5em;
}
#menu > .menu__plats :nth-child(1) {
  animation-delay: 0.3s;
}
#menu > .menu__plats :nth-child(2) {
  animation-delay: 0.6s;
}
#menu > .menu__plats :nth-child(3) {
  animation-delay: 0.9s;
}
#menu > .menu__plats :nth-child(4) {
  animation-delay: 1.2s;
}

/*______ BOUTON COMMANDER ______*/
#btn {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

#btn__menu {
  padding-right: 50px;
  padding-left: 50px;
}

/*------------------------------------------------ VERSION DESKTOP -------------------------------------------*/
@media screen and (min-width: 769px) {
  body {
    max-width: 3840px;
  }

  #logo {
    width: 40%;
  }

  h1 {
    font-size: 84.8px;
  }

  /* ______ ADAPTATION ANIMATION HOME PAGE ______*/
  @keyframes loader__apparition {
    0% {
      font-size: 89.6px;
      top: 144px;
      color: #ff79da;
    }
    30% {
      color: #9356dc;
    }
    100% {
      position: relative;
      top: -144px;
      font-size: 84.8px;
      color: black;
    }
  }
  .loader__lettre {
    font-size: 84.8px;
    color: #ff79da;
    animation: loader__apparition 3s cubic-bezier(1, 0.02, 0.11, 0.87) forwards;
  }

  /* _______ HOME PAGE ______*/
  #fonctionnement {
    padding-bottom: 60px;
  }
  #fonctionnement > #fonctionnement__titre {
    margin-left: 90px;
    font-size: 2em;
  }
  #fonctionnement > #fonctionnement__tuiles > .fonctionnement__tuiles--tuile {
    width: 40%;
    font-size: 1.3em;
  }
  #fonctionnement > #fonctionnement__tuiles > .fonctionnement__tuiles--tuile::before {
    width: 24px;
  }

  #restaurants__titre {
    font-size: 2em;
    margin-left: 90px;
    margin-bottom: 10px;
    margin-top: 40px;
  }

  #restaurants__bloc {
    flex-wrap: wrap;
    flex-direction: initial;
    justify-content: center;
  }
  #restaurants__bloc > .restaurants__tuiles {
    width: 530px;
  }
  #restaurants__bloc > .restaurants__tuiles > .restaurants__image {
    object-position: center;
    height: 250px;
  }

  /* ______ PAGES RESTAURANTS ______*/
  #bannière_la_palette_du_gout,
#bannière_la_note_enchantee,
#bannière_a_la_francaise,
#bannière_le_delice_des_sens {
    height: 500px;
    object-fit: cover;
  }

  #menu > #menu__h2 {
    margin-left: 30px;
  }
  #menu > #menu__h2 > #menu__h2--shrikhand {
    font-size: 2.2em;
  }
  #menu > .menu__plats {
    align-items: center;
  }
  #menu > .menu__plats > .plats__tuile {
    width: 95%;
  }
  #menu > .menu__plats > .plats__tuile > .tuile__texte > .tuile__texte--size {
    font-size: 1.2em;
  }
  #menu > .menu__plats > .plats__tuile > .tuile__texte > .tuile__texte--lighter {
    font-size: 1em;
  }
  #menu > .menu__plats > .plats__tuile > .tuile__validation {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}