/**** UTILS ****/ 

/* Variables */ 

$couleur_primaire: #9356DC;
$couleur_secondaire: #FF79DA;
$couleur_tertiaire: #99E2D0;
$couleur_box_shadow: #9B9E9F;
$couleur_background_principal : #eaeaea;
$couleur_background_secondaire : #f6f6f6;
$couleur_footer : #353535;


/**** COMPONENTS ****/ 

.btn--layout
{
    background: linear-gradient($couleur_secondaire, $couleur_primaire);
    color: white;
    padding-top: 17px; 
    padding-bottom: 17px;
    border-radius: 40px;
}


/**** BASE ****/

input 
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a 
{
    text-decoration: none;
    color: black;
}

ol
{
    list-style-type: none;
}

body
{
    margin: 0 auto;
    max-width: 767px;
    width: 100%;
    justify-content: center;
    background-color: $couleur_background_principal;
}

body
{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
}

h2
{
    font-size: 1.2em;
    font-weight: lighter;
    margin: 0;
}

p
{
    margin: 0;
}



/**** LAYOUTS ****/ 

/* Footer */ 

footer
{
    background-color: $couleur_footer;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

#footer__logo, #footer__bloc
{
    margin: 0px 0px 10px 20px;
}

#footer__logo
{
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Shrikhand', cursive;
}

.footer__bloc-texte
{
    display: flex;
    align-items: center;
}

.footer__texte, .footer__bloc-texte
{
    margin-bottom: 6px;
}

.footer__picto
{
    margin-right: 10px;
}



/**** PAGES ****/

/*** Accueil ***/

/** HEADER **/ 

#logo
{
    /* Img centrée horizontalement*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Taille de l'image */
    width: 50%;
    height: 50%;
}

header
{
    background-color: white;
    /* Ombre */
    box-shadow: 4px 4px 4px $couleur_box_shadow;
    padding-top: 25px;
    padding-bottom: 20px;
}


/* Section localisation */ 

#localisation
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -12px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

#localisation__picto
{
    margin-right: 12px;
    position: relative;
    top: -3px;

}

#localisation__texte
{
    margin: 0px;
}

/* Section présentation */ 

#presentation /* Layout du bloc présentation */
{
    /* background */
    background-color: $couleur_background_secondaire;
    /* Padding*/ 
    padding-top: 20px;
    padding-bottom: 60px;
    padding-right: 5px;
    padding-left: 5px;
    /* Alignement */
    text-align: center;
    
}

#presentation__h1 /* "Réservez le menu qui vous convient"*/
{
    margin-bottom: 20px;
}

#presentation__h2
{
    margin-bottom: 50px;
}

#btn__presentation
{
    padding-right: 20px;
    padding-left: 20px;
}

/* Section fonctionnement */

#fonctionnement
{
    background-color: white;
    padding-top: 35px;
    padding-bottom: 35px;
}

#fonctionnement__titre
{
    margin-top: 20px;
    margin-left: 20px;
    margin-top: 0px;
}

#fonctionnement__bloc
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#fonctionnement__tuiles
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fonctionnement__tuiles--tuile
{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eaeaea;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 20px;
    counter-increment: listing;
    width: 70%;
}


.fonctionnement__tuiles--tuile::before
{
    background-color: #9356DC;
    border-radius: 50px;
    width: 19px;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 1em;
    position: relative;
    left: -42px;
    content: counter(listing);
}


.fonctionnement__picto
{
    position: relative;
    left: -25px;
    color: $couleur_box_shadow;
    font-size: 1.2em;
}

ol
{
    margin: 0;
    padding: 0;
}



/* Section Restaurants */ 

#restaurants__titre
{
    margin-left: 20px;
    margin-top: 20px;
}

#restaurants__bloc
{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px
}

.restaurants__tuiles
{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background: white;
    border-radius: 15px;
}

.restaurants__image
{
    object-fit: cover;
    object-position: bottom;
    height: 220px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.restaurants__tuiles--bloc
{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.restaurants__tuiles--texte
{
    flex: 1;
}

.restaurants__noms, .restaurants__localisation
{
    margin-left: 15px;
}

.restaurants__noms
{
    font-weight: bold;
    font-size: 1.3em;
    margin: 15px 0px 10px 15px;
    display: block;
}

.restaurants__localisation
{
    font-size: 1.2em;
    margin: 0px 0px 15px 15px;
    font-weight: lighter;
}

.like
{
    font-size: 2.2em;
    color: white;
    filter: drop-shadow(0px 0px 1px black);
    transition: transform 400ms;
    &:hover
    {
        
        filter: none;
        background: -webkit-gradient(linear, left top, left bottom, from($couleur_secondaire), to($couleur_primaire));;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}



/*** Menu à la française ***/

/* Header */

#header
{
    display: flex;
    align-items: center;
}

.arrow
{
   font-size: 1.8em;
   position: relative;
   right: -25px;
}

#page-menu__bannière
{
    width: 100%;
}

#menu /* Layout du menu */
{
    padding-top: 30px;
    background-color: $couleur_background_principal;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    position: relative;
    top: -60px;
}

#menu__h1 /* Nom du restaurant */
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 20px;
}

#menu__h1--shrikhand
{
    font-family: 'Shrikhand', cursive;
    font-size: 1.6em;
}

.likemenu
{
    font-size: 1.6em;
    color: $couleur_background_principal;
    filter: drop-shadow(0px 0px 1px black);
    margin-right: 25px;
}

.menu__h2
{
   margin: 30px 0px 5px 20px;
   position: relative;
   margin-bottom: 15px;
   &::after {
    width: 48px;
    border-bottom: 4px solid #99E2D0;
    position: absolute;
    content: "";
    bottom: -10px;
    left: 3px;
   }
}


.menu__plats
{
    display: flex;
    flex-direction: column;
}

.plats__tuile
{
    display: flex;
    background-color: $couleur_background_secondaire;
    padding: 15px;
    border-radius: 15px;
    margin: 12px;
    justify-content: space-between;
    align-items: flex-end;
    animation: 0.5s forwards apparition_plats;
    :nth-child(1){
        animation-delay: 0.3s;
    }
}

.tuile__texte--lighter
{
    font-weight: lighter;
    margin-top: 5px;
    font-size: 0.9em;
}

.tuile__texte--size
{
    font-size: 1.1em;
}

#btn
{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

#btn__menu
{
    padding-right: 50px;
    padding-left: 50px;
}

